.login-page {
    background-image: url('../assets/images/hos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h6 {
    color: red;
    font-weight: 700;
    font-size: large;
    background-color: aqua;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}